<div class="col-md-6 col-md-offset-3">

<div class="ui-303">
  <div class="o-timeline">
    <% @results.each do |tweet| %>
      <div class="timeline-item">
        <div class="timeline-content">
          <p><%= tweet.message %></p>
          <% unless tweet.hashtags.empty? %>
            <small>
              <% tweet.hashtags.each do |hashtag| %>
                <i>#<%= hashtag %></i>
              <% end %>
            </small>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
<hr>

<div class="ui-15">
    <div class="ui-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ui-padd">
            <div class="ui-form">
              <%= form_tag(get_tweets_path(:tab => "drive"), {:method => :get, :class => "form-inline"}) do %>
              <%= hidden_field_tag :latitude , params[:latitude] %>
              <%= hidden_field_tag :longitude , params[:longitude] %>
              <%= hidden_field_tag :radius ,  params[:radius] %>
              <%= text_field_tag :hashtags, params[:hashtags], placeholder: 'Enter hashtags', class: 'form-control' %>
              <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
