<div class="row">
  <div class="span 6 offset 3">
      <%= form_tag get_tweets_path, :method => 'get' do %>

      <%= label_tag "Longitude" %>
      <%= text_field_tag :longitude, params[:longitude] %>

      <%= label_tag "Latitude" %>
      <%= text_field_tag :latitude, params[:latitude] %>

      <%= label_tag 'Radius' %>
      <%= text_field_tag :radius, params[:radius] %>

      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<% if @tweets.present? %>
<div>
  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= tweet.message %></li>
    <% end %>
  </ul>
</div>

<%= paginate @tweets %>
<% end %>

<div>
Count: <%= @tweets.length %>
</div>
